@model IEnumerable<HospitalProjectStJoeseph.Models.Clinic>

@{
    ViewBag.Title = "Create";
}

<h2>Create Clinic</h2>
<form action="/Clinic/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="ClinicName" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="ClinicDescription" />
        <label>Time:</label> <input type="datetime" name="ClinicTime" />
        <input type="submit" value="Add Clinic" />
    </div>
</form>

