@model HospitalProjectStJoeseph.Models.ViewModels.DetailsService


@{
    ViewBag.Title = "View";
}

<a href="/Service/List" class="btn btn-primary">Go back to list</a>
<br />
<a href="/Service/Edit/@Model.SelectedService.ServiceId" class="btn btn-success">Update</a>
<br />
<a href="/Service/DeleteConfirm/@Model.SelectedService.ServiceId" class="btn btn-danger">Delete</a>
<h2>@Model.SelectedService.ServiceName</h2>
<div><p>@Model.SelectedService.ServiceTime</p></div>


<div>
    <h3>Clinics that provide this service:</h3>
    @foreach (var clinic in Model.ProvidedClinic)
    {
        <a href="/Clinic/Details/@clinic.ClinicId">@clinic.ClinicName</a><br />

    }
</div>


