@model HospitalProjectStJoeseph.Models.TestDto

@{
    ViewBag.Title = "Edit";
}


<h2>Update Test <strong>'@Model.test_category'</strong></h2>

<form action="/Test/Update/@Model.TestID" method="POST">
    <div style="display:none;">
        <input type="text" name="TestID" value="@Model.TestID" />
    </div>
    <div class="editInput">
        <label>test_category:</label> <input type="text" name="test_category" value="@Model.test_category" />
    </div>
    <div class="editInput">
        <label>test_date:</label> <input type="datetime" name="test_date" value="@Model.test_date" />
    </div>

    <div id="btnContainer">
        <div>
            <input type="submit" value="Update Test" id="editBtn" />
        </div>
        <div>
            <a id="backbtn" href="/Test/List">Back to List</a>
        </div>
    </div>
</form>


<style>
    body {
        text-align: center;
    }
    #editBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em;
        color: green;
    }
    #backbtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 4em;
        padding: 0.66em;
        color: blue;
    }
    .editInput {
        margin-top: 1em;
    }
    #btnContainer {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: center;
    }
</style>