@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>St. Joseph Hospital</h1>
    <p>Site Directory</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Appointments</h2>

        <p><a class="btn btn-primary" href="/Appointments/List">List Appointments &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best Wishes</h2>
        <p><a class="btn btn-primary" href="/BestWishes/List">List Best Wishes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patients</h2>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <p><a class="btn btn-primary" href="/Patient/List">List Patients &raquo;</a></p>

        }
        else if (User.IsInRole("Patient"))
        {
            <p><a class="btn btn-primary" href="/Patient/Show/0">Go to Patient &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-primary" href="/Patient/List">Patients &raquo;</a></p>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Physicians</h2>

        <p><a class="btn btn-primary" href="/Physician/List">List Physicians &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Requisitions</h2>
        <p><a class="btn btn-primary" href="/Requisition/List">List Requisitions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lab Tests</h2>
        <p><a class="btn btn-primary" href="/Test/List">List Tests &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clinics</h2>

        <p><a class="btn btn-primary" href="/Clinic/List">List Clinics &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p><a class="btn btn-primary" href="/Service/List">List Services &raquo;</a></p>
    </div>
</div>
